#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #7c706b;
}
#ext_menu-0 .mbr-navbar__section {
  background: #7c706b;
}
#ext_menu-0 .mbr-navbar__hamburger {
  color: #000000;
}
#header1-1 H1 {
  color: #a38f84;
  text-align: left;
}
#ext_menu-3 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-3.mbr-navbar--stuck .mbr-navbar__section {
  background: #7c706b;
}
#ext_menu-3 .mbr-navbar__section {
  background: #7c706b;
}
#ext_menu-3 .mbr-navbar__hamburger {
  color: #000000;
}
#msg-box4-b .mbr-header__text {
  color: #ffffff;
}
#msg-box4-b .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-b .mbr-article {
  color: #ffffff;
}
#msg-box4-c .mbr-header__text {
  color: #ffffff;
}
#msg-box4-c .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-c .mbr-article {
  color: #ffffff;
  text-align: left;
}
#msg-box4-d .mbr-header__text {
  color: #ffffff;
}
#msg-box4-d .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-d .mbr-article {
  color: #ffffff;
}
#msg-box4-e .mbr-header__text {
  color: #ffffff;
}
#msg-box4-e .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-e .mbr-article {
  color: #ffffff;
}
#msg-box4-f .mbr-header__text {
  color: #ffffff;
}
#msg-box4-f .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-f .mbr-article {
  color: #ffffff;
}
#msg-box4-g .mbr-header__text {
  color: #ffffff;
}
#msg-box4-g .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-g .mbr-article {
  color: #ffffff;
}
#msg-box4-h .mbr-header__text {
  color: #ffffff;
}
#msg-box4-h .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-h .mbr-article {
  color: #ffffff;
}
#msg-box4-i .mbr-header__text {
  color: #ffffff;
}
#msg-box4-i .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-i .mbr-article {
  color: #ffffff;
}
#msg-box4-j .mbr-header__text {
  color: #ffffff;
}
#msg-box4-j .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-j .mbr-article {
  color: #ffffff;
}
#msg-box4-k .mbr-header__text {
  color: #ffffff;
}
#msg-box4-k .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-k .mbr-article {
  color: #ffffff;
}
#ext_menu-l .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-l.mbr-navbar--stuck .mbr-navbar__section {
  background: #7c706b;
}
#ext_menu-l .mbr-navbar__section {
  background: #7c706b;
}
#ext_menu-l .mbr-navbar__hamburger {
  color: #000000;
}
#ext_menu-y .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-y.mbr-navbar--stuck .mbr-navbar__section {
  background: #7c706b;
}
#ext_menu-y .mbr-navbar__section {
  background: #7c706b;
}
#ext_menu-y .mbr-navbar__hamburger {
  color: #000000;
}
#testimonials1-13 .mbr-reviews__text P {
  font-size: 14px;
}
#testimonials1-13 .mbr-reviews__text {
  font-size: 14px;
}
#ext_menu-17 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-17.mbr-navbar--stuck .mbr-navbar__section {
  background: #7c706b;
}
#ext_menu-17 .mbr-navbar__section {
  background: #7c706b;
}
#ext_menu-17 .mbr-navbar__hamburger {
  color: #000000;
}
#content4-1c .mbr-section__col .mbr-header__text {
  font-size: 16px;
}
#ext_menu-18 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-18.mbr-navbar--stuck .mbr-navbar__section {
  background: #7c706b;
}
#ext_menu-18 .mbr-navbar__section {
  background: #7c706b;
}
#ext_menu-18 .mbr-navbar__hamburger {
  color: #000000;
}
#ext_menu-1r .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-1r.mbr-navbar--stuck .mbr-navbar__section {
  background: #7c706b;
}
#ext_menu-1r .mbr-navbar__section {
  background: #7c706b;
}
#ext_menu-1r .mbr-navbar__hamburger {
  color: #000000;
}
#content1-1t DIV {
  font-size: 14px;
}
#ext_menu-1x .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-1x.mbr-navbar--stuck .mbr-navbar__section {
  background: #7c706b;
}
#ext_menu-1x .mbr-navbar__section {
  background: #7c706b;
}
#ext_menu-1x .mbr-navbar__hamburger {
  color: #000000;
}
#ext_menu-21 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-21.mbr-navbar--stuck .mbr-navbar__section {
  background: #7c706b;
}
#ext_menu-21 .mbr-navbar__section {
  background: #7c706b;
}
#ext_menu-21 .mbr-navbar__hamburger {
  color: #000000;
}
